{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
  <h1>Привет, я Макс</h1>

  <p>
    Тяжеловато я дошел до этого этапа - создание статичных страниц на джанге. Но дошёл, а это главное. Вот сижу сейчас поздно вечером и пишу этот текст.
  </p>

  <div class="images-block">
    <div><img src="{% static 'img/my_space.jpg' %}"></div>
    <div><small>Обожаю натс &#128578;</small></div>
  </div>

  <p>
    Кодить нравится, на текущий момент работаю с языком php, наверно уже как 10 лет. Язык знаю на уровне вэб разработчика, пишу сайтики на битриксе. Столько времени ушло, а понимаю, что я не на достаточном уровне знаю этот язык. Похоже на синдром самозванца кажется &#128512;. Решился наконец взять "быка за рога" и начать изучать новый язык более детально. Возникает вопрос, а что же я не продолжил php там детально изучать, но что то за такой длительный период я устал от него.
  </p>

  <p>
    Долго выбирал, что хочется, остановился на python. Все началось с книги byte of python, тут я разогрелся. Потом Марка Лутца, надеюсь, что то отложилось в голове после прочтения двух томов, суммарно 1500 страниц за 3 месяца. Я не хватаюсь, просто люблю цифры. 
  </p>

  <p>Потом поработал джуном 3 месяца. Мягко попросили пойти повысить скил, где-то в другом месте</p>

  <p>И теперь я здесь, салют всем кто это читает &#128123; </p>

  <p>Здесь есть мои контакты, вдруг кто захочет пообщаться <a href="https://pinkbrain.ru/" target="_blank">pinkbrain.ru</a> &#128579;</p>

  <p>Профиль на гитхабе, как же без него <a href="https://github.com/loony-m" target="_blank">https://github.com/loony-m</a></p>

  <p>
    Пользуясь случаем, хочу сказать, мы с друзьями делаем еще крутую лофтовую мебель на заказ вдруг кому приглянулась столешница у моего стола <a href="https://dsgn-lft.ru/" target="_blank">dsgn-lft.ru</a> &#128519;
  </p>
{% endblock %} 